html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  color: black;
}

a {
  color: white !important;
}

a:hover {
  color: white;
}

.raleway-regular {
  font-family: "Raleway";
  font-weight: 400;
}

.raleway-black {
  font-family: "Raleway";
  font-weight: 900;
}

.raleway-black--italic {
  font-family: "Raleway";
  font-weight: 900;
  font-style: italic;
}

.raleway-bold {
  font-family: "Raleway";
  font-weight: 700;
}

.raleway-bold--italic {
  font-family: "Raleway";
  font-weight: 700;
  font-style: italic;
}

.raleway-semi-bold--italic {
  font-family: "Raleway";
  font-weight: 600;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.menu,
.menu a {
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

#logo {
  padding: 0px 20px;
}

.resume a {
  font-style: italic;
  text-decoration: none;
  color: grey !important;
  font-weight: lighter;
}

.navbar {
  margin-top: 15px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.nav::before,
.nav::after {
  display: none !important;
}

#navbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    156deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.35066526610644255) 47%
  );
  padding-top: 10px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 100;
  width: 100%;
  margin-top: 0;
}

.navbar > .container-fluid {
  flex-direction: column;
}

.nav-item,
.nav > li {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent !important;
  text-decoration: underline !important;
}

.navbar-toggle.navbar-btn {
  padding: 0;
}

@media (max-width: 600px) {
  .nav-item,
  .nav > li {
    padding: 0 4px;
  }

  .nav > li a {
    color: #ff9243 !important;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }

  .download-icon {
    display: none;
  }

  .nav {
    grid-template-columns: repeat(4, 1fr);
  }

  .navbar > .container-fluid {
    align-items: end;
  }
}

.nav-link.active {
  color: white;
  text-decoration: underline;
}

.nav-link {
  font-size: 24px;
  color: white !important;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.navbar-toggler {
  float: right !important;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("../images/menu.png") !important;
}

#home,
#about,
#work,
#contact {
  height: 100vh;

  @media (max-width: 600px) {
    margin-bottom: -1px;
  }
}

@media (max-width: 600px) {
  #work {
    height: 150vh;
  }
}

.home-section {
  background-color: #7eeeb2;
}

.home-section__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 10;
  position: relative;

  @media (max-width: 600px) {
    padding: 0 24px;
  }
}

.home-section__bg-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.home-section__title--large-name,
.home-section__title--large-surname {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  color: #ff9243;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f8c098;
}

.home-section__title-large-wrapper {
  width: 55vw;
  position: absolute;
  bottom: 30%;

  @media (max-width: 768px) {
    bottom: 0;
  }

  @media (max-width: 600px) {
    bottom: 30vh;
  }
}

.home-section__title--large-name {
  font-size: 6rem;
  position: relative;

  @media (max-width: 768px) {
    font-size: 4rem;
  }

  @media (max-width: 600px) {
    font-size: 2.7rem;
  }
}

.home-section__title--large-surname {
  font-size: 12rem;
  position: relative;
  overflow-wrap: break-word;

  @media (max-width: 768px) {
    font-size: 9rem;
  }

  @media (max-width: 600px) {
    font-size: 6rem;
  }
}

.home-section__glass-card-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 70vh;
  width: 50vw;
  min-width: 550px;
  background: linear-gradient(
    156deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.35066526610644255) 47%
  );
  backdrop-filter: blur(15px);
  border-radius: 40px;
  border: 1px solid white;
  -webkit-box-shadow: 4px 7px 27px -12px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 4px 7px 27px -12px rgba(0, 0, 0, 0.65);
  box-shadow: 4px 7px 27px -12px rgba(0, 0, 0, 0.65);

  @media (max-width: 600px) {
    width: 100%;
    min-width: unset;
  }
}

.home-section__glass-card {
  @media (max-width: 600px) {
    width: 100%;
    padding: 24px;
  }
}

.home-section__title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section__text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 16px;
}

.home-section__title {
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f8c098;
}
.home-section__text {
  color: white;
  margin-bottom: 0;
  font-size: 24px;
}

.home-section__title--name {
  font-size: 60px;

  @media (max-width: 600px) {
    font-size: 40px;
  }
}

.home-section__title--surname {
  font-size: 100px;

  @media (max-width: 600px) {
    font-size: 50px;
  }
}

.section__bg-img {
  width: 100%;
}

/* WORK SECTION */
.work-section {
  background-color: #cfa5f9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-section__hover {
  position: relative;
  text-align: end;
  margin-right: 10%;
}

.work-section__hover-text {
  position: relative;
  color: white;
  font-size: 20px;
  animation-name: floatingText;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  z-index: 10;
}

@keyframes floatingText {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.work-section__hover::before {
  content: "";
  position: absolute;
  background: url(../images/arrow.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 41px;
  right: 150px;
  top: 20px;
  z-index: 100;
}

.work-section__bg-wrapper {
  width: 100%;
  position: absolute;
  bottom: -100vh;
  z-index: 1;

  @media (max-width: 600px) {
    bottom: -150vh;
  }
}

.work-section__cards-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 64px;
  z-index: 10;

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    padding: 0 24px;
  }
}

.work-section__card {
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  padding: 24px;
  background: linear-gradient(
    123deg,
    rgba(255, 255, 255, 0.38) 0%,
    rgba(126, 238, 178, 0.7736344537815126) 88%
  );
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  max-width: 40%;
  max-height: 95%;
  border-radius: 40px;
  border: 1px solid white;
  -webkit-box-shadow: 4px 7px 27px -12px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 4px 7px 27px -12px rgba(0, 0, 0, 0.65);
  box-shadow: 4px 7px 27px -12px rgba(0, 0, 0, 0.65);

  @media (max-width: 600px) {
    margin: 0;
    max-height: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 24px;
  }
}

.work-section__card--animated {
  @media (max-width: 600px) {
    height: 60vh;
  }
}

.work-section__card:first-of-type {
  margin-right: 86px;

  @media (max-width: 600px) {
    margin-right: 0;
  }
}

.work-section__card-mockup {
  width: 95%;
  margin-bottom: 8px;
}

.work-section__card-skill {
  color: white;
  font-size: 20px;
  margin: 0;
}

.work-section__card-text {
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 1rem;
}

.work-section__card-mockup--static {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
}

.x {
  position: relative;
}

.work-section__card-mockup--animated,
.work-section__card-mockup--static {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 85%;
  top: 24px;
}

.work-section__card-mockup-device {
  z-index: 10;
  width: 90%;
}

.work-section__card-mockup-img {
  position: absolute;
  background: url(../images/ux-page.png);
  background-size: 100%;
  height: 98%;
  width: 72%;
  background-position: top;
  transition: 15s;
  border-radius: 10px;
}

.work-section__card-mockup--animated:hover .work-section__card-mockup-img {
  background-position: bottom;
}

/* CONTACT SECTION */
.contact-section {
  background-color: #ff9243;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section__bg-wrapper {
  width: 100%;
  position: absolute;
  bottom: -200vh;
  z-index: 1;

  @media (max-width: 600px) {
    bottom: -250vh;
  }
}

.contact-section__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  padding: 36px;
  height: 400px;
  width: 25vw;
  min-width: 500px;
  background: linear-gradient(
    156deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.35066526610644255) 47%
  );
  backdrop-filter: blur(15px);
  border-radius: 40px;
  border: 1px solid white;
  -webkit-box-shadow: 4px 7px 27px -12px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 4px 7px 27px -12px rgba(0, 0, 0, 0.65);
  box-shadow: 4px 7px 27px -12px rgba(0, 0, 0, 0.65);
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
    min-width: unset;
  }
}

.contact-section__card-wrapper {
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
    padding: 0 24px;
  }
}

.contact-section__card-wrapper::after {
  content: "";
  position: absolute;
  background: url(../images/contact-bg.svg);
  width: 100%;
  height: 100%;
  top: 15px;
  left: 15px;
  border-radius: 40px;
  z-index: 3;
}

@media (max-width: 600px) {
  .contact-section__card-wrapper::after {
    width: 85%;
    right: 15px;
    left: unset;
  }

  .nav > li.nav-item--asterisk {
    display: none !important;
  }
}

.contact-section__card-id {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact-section__card-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 32px;
  border-radius: 20px;
}

.contact-section__card-name {
  padding-bottom: 8px;
  margin-bottom: 8px;
  color: white;
  border-bottom: 1px solid white;
}

.contact-section__card-position {
  color: white;
}

.contact-section__card-contacts-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 24px;
  margin-bottom: 0;
}

.contact-section__card-contacts-list-item {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 8px;
  overflow-wrap: anywhere;
}

.contact-section__link {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    font-size: 15px;
  }
}

.contact-section__link:hover {
  text-decoration: underline;
  color: white;
}

.contact-section__icon {
  color: white;
  margin-right: 16px;

  @media (max-width: 600px) {
    font-size: 2em !important;
  }
}

.footer-section {
  background-color: #7eeeb2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-top: -1px;
  padding-bottom: 12px;
}

.footer-section__copyright {
  color: white;
}
